<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product ID</th>
            <th scope="col">Availability</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Home Component</td>
            <td>app-home-component</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Products Component</td>
            <td>app-products-component</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Employees Component</td>
            <td>app-employees-component</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
</div>
