<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th data-field="name" scope="col">Employee Name</th>
            <th data-field="id" scope="col">Employee ID</th>
            <th data-field="salary" scope="col">Employee Salary</th>
            <th data-field="designation" scope="col">Employee Designation</th>
            <th data-field="image" scope="col">Employee Image</th>
          </tr>
        </thead>
        <tbody>
 
        </tbody>
      </table>
</div>